.element__info {
  display: flex;
  justify-content: space-between;
  /* margin: 25px 21px 0 15px;
  padding-bottom: 31px; */
  /* align-items: center; */
  /* box-sizing: border-box; */
  margin: 22px 20px 0 22px;
    padding: 0 0 26px;
}